<nav class="navbar navbar-light">
    <a class="navbar-brand" href="#"><img src="/assets/Screenshot_7.png" alt=""></a>
  </nav>

<div class="container">
    <div class="row">
        <div class="col-md-4 mt-5">
        <button class="btn btn-primary" id="btn">1</button>
    </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">$</span>
        </div>
        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Valor bruto">    
      </div>
    </div>
</div>




    <h1>Tabela de contracheque</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col" class="cabecalho">DESCRIÇÃO</th>
        <th scope="col" class="cabecalho">ALÍQUOTA</th>
        <th scope="col" class="cabecalho">PROVENTOS</th>
        <th scope="col" class="cabecalho">DESCONTOS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" class="titulo">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row" class="titulo">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row" class="titulo">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>